- content_for :context do
  .text-container
    %p
      Hi! My name is Lujia Zhang
      I live and work in San Francisco as a software engineer at 
      =link_to "Moovweb", "http://moovweb.com", target: '_blank'
      \.
    %p
      I had worked on our improve console for a year, which is a RoR application. Currently I'm learning operation stuff, working on aws autoscaling. 
