- content_for :context do
  .text-container
    %p
      Hi there! I'm Lujia Zhang, currently live and work in San Francisco as a software engineer at 
      =link_to "Moovweb", "http://moovweb.com", target: '_blank'
      \.
    %p
      I works on improving and maintaining our console, the control cernter for our platform developers. I'm also learning and working on ops stuff, working on aws autoscaling now. 
