.footer-logo {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    color: #c2c2c2;
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
}

body, html {
  height: 100%;
  overflow: hidden;
}
