// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_message {
  text-align: center;
  margin-top: 30px;
}

label {
  display: inline-block;
  margin: 20px;
  font-size: 16px;
  font-weight: 300;
  width: 100px;
}

input, textarea {
  width: 400px;
}

input {
  height: 40px;
}

textarea {
  min-height: 160px;
}

.button {
  margin-top: 20px;
}

.button {
  font-size: 30px;
}

.button:hover,
.button:active {
  letter-spacing: 5px;
}

.button:after,
.button:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button:hover:after,
.button:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}








