.w-section.hero
  .w-nav.nav{"data-animation" => "default", "data-collapse" => "medium", "data-contain" => "1", "data-duration" => "400"}
    .w-container
      %a.w-nav-brand.logo
        %div
    .w-nav-overlay{"data-wf-ignore" => ""}%header.w-container.heading-wrapper
  
  %h1.main-heading
    Lujia Zhang
    %span.blinker
  %h2.sub-heading Developer | Photographer | Coffee Addict.
  %nav.w-nav-menu.nav-menu.container{:role => "navigation"}
    %a.w-nav-link.nav-link.w--current{:href => "/", :style => "max-width: 940px;"} About me
    %a.w-nav-link.nav-link{:href => "/about", :style => "max-width: 940px;"} Profile
    %a.w-nav-link.nav-link{:href => "/about", :style => "max-width: 940px;"} Resume
    %a.w-nav-link.nav-link{:href => "/about", :style => "max-width: 940px;"} Skills
    %a.w-nav-link.nav-link{:href => "/contact", :style => "max-width: 940px;"} Contact